* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

li {
	list-style: none;
}

button {
	font-family: 'Open Sans', sans-serif;
	border: none;
}

body {
	background-color: #F3F3F3;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

header {
	background-image: url(../img/sample2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.wrapper {
	max-width: 90%;
	margin: 0 auto;
}

header .top-bar {
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
	margin-bottom: 80px;
}

header .top-bar .logo {
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 0.2em;
	color: #FFFFFF;
}

header .top-bar .logo span {
	padding: 0 8px;
}

header .top-bar .login ul li {
	display: inline-block;
	margin-left: 40px;
}

header .top-bar .login a:hover {
	color: #9E9E9E;
}

header .top-bar .login ul li:first-child {
	margin-left: 0;
}

header .headline {
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 160px;
}

header .headline h1 {
	font-size: 3em;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

header .headline h1 span {
	font-size: 2em;
	padding: 0 20px;
}

header .headline p {
	text-transform: capitalize;
}

header .header-btns {
	padding-bottom: 80px;
	display: flex;
	justify-content: space-around;
}

header .header-btns .header-button {
	border: 2px solid #FFFFFF;
	padding: 10px 40px;
	background-color: #000000;
	font-size: 16px;
	color: #FFFFFF;
}

header .header-btns .header-button:hover {
	background-color: #FFFFFF;
	color: #000000;
}

main {
	position: relative;
}

main::before {
	content: '';
	position: absolute;
	top: -1px;
	z-index: -1;
	background: black;
	border-top: 35px solid black;
	width: 100%;
	height: 200px;
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 47% 49%);
}

main .triangle-flex {
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
}

main .triangle-flex .triangle-left {
	padding-top: 100px;
	color: #000000;
	width: 50%;
	padding-right: 20px;
}

main .triangle-flex .triangle-right {
	color: #FFFFFF;
	width: 50%;
	padding-left: 20px;
}

main .about {
	margin-bottom: 40px;
}

main .about .about-title {
	font-weight: normal;
	font-size: 1.6em;
	text-align: center;
	margin-bottom: 40px;
}

main .about-container {
	display: flex;
	flex-direction: column;
}

main .about-block {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

main .about-block .about-block-txt {
	flex-direction: column;
	text-align: center;
	justify-content: space-around;
	flex-basis: 100%;
}

main .about-block .about-txt {
	margin: 30px;
}

main .about-block .about-block-img {
	background-size: cover;
	width: 100%;
	display: flex;
	flex-direction: column;
	box-shadow: inset 0px 0px 36px 9px rgba(0, 0, 0, 0.4);
}

main .about-block .about-img1 {
	background-image: url('../img/sample-1.jpg');
}

main .about-block .about-img2 {
	background-image: url('../img/sample-2.jpg');
}

main .likes {
	text-align: center;
	margin: 20px 20px auto auto;
	color: #ffffff;
	padding: 5px 8px;
	border: 2px solid #ffffff;
	background-color: rgba(0, 0, 0, 0.288);
	cursor: pointer;
}

main .likes:hover {
	background-color: #000000;
}

main .date {
	margin: auto auto 20px 20px;
	color: #ffffff;
}

main .news {
	background-color: #FFFFFF;
	text-align: center;
	padding-bottom: 40px;
}

main .news .news-flex-block {
	display: flex;
	justify-content: space-around;
	padding: 40px 0;
}

main .news .news-img1 {
	background: url('../img/news-list-1.jpg')
}

main .news .news-img2 {
	background: url('../img/news-list-2.jpg')
}

main .news .news-img3 {
	background: url('../img/news-list-3.jpg')
}

main .news .news-img4 {
	background: url('../img/news-list-4.jpg')
}

main .news .news-img-block {
	background-size: cover;
	display: flex;
	flex-direction: column;
	box-shadow: inset 0px 0px 36px 9px rgba(0, 0, 0, 0.4);
	width: 20%;
	height: 280px;
}

main .news .news-img-block .explore {
	text-align: center;
	font-weight: 600;
	text-transform: capitalize;
	width: 90%;
	padding: 10px 0;
	margin: 0 auto;
	background: #097774;
	opacity: 0.8;
}

main .news .news-img-block .explore:hover {
	opacity: 1;
}

main .news .news-button {
	padding: 16px 100px;
	color: #ffffff;
	background-color: #097774;
	font-size: 1em;
	cursor: pointer;
}

footer .subscribe-block {
	padding: 40px 0;
}

footer .footer-subscribe {
	display: flex;
	justify-content: flex-end;
	padding: 20px 0;
}

footer .footer-subscribe .email {
	font-family: 'Open Sans', sans-serif;
	width: 170px;
	height: 40px;
	padding: 0 10px;
	vertical-align: top;
	border: 2px solid #000;
	background-color: transparent;
	font-size: 16px;
	margin: 0 10px 0 20px;
}

footer .footer-subscribe .email::placeholder {
	color: black;
	background-color: #F3F3F3;
}

footer .footer-subscribe .subscribe {
	padding: 8px 20px;
	background-color: #097774;
	font-weight: bold;
}

footer .footer-subscribe span {
	font-size: 1.6em;
}

footer .bottom-bar {
	color: #9E9E9E;
	background-color: #FFFFFF;
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
}

footer nav li {
	display: inline-block;
	margin-left: 20px;
}

footer nav li:first-child {
	margin-left: 0;
}

footer nav a {
	color: #000000;
}

footer nav a:hover {
	color: #9E9E9E;
}