$HeaderBackground: url('../img/m-h-day.jpg');
$FontFamily: 'Hind', sans-serif;
$colors: ("bg-color": #fff, "bg-btn": #659315, "bg-btn-hov": #2E9315, "grad-banner": linear-gradient(45deg, #629116 0%,#2d59cf 100%),
"line-color": #1C9BC3, "header-text-color": #22263C, "text-color": #BFC1CA, "bg-card": #21232e, "bg-footer": #21232e );