$HeaderBackground: url('../img/m-h-night.jpg');
$FontFamily: 'Fresca', sans-serif;
$colors: ("bg-color": #151724,"bg-btn": #DDA61D, "bg-btn-hov": #DD8A1D, "grad-banner": linear-gradient(45deg, #dca41d 0%, #8d254e 100%),
"line-color": #FA4C33, "header-text-color": #fff, "text-color": #BFC1CA, "bg-card": #3B414B, "bg-footer": #3B414B );